{{#each .}}
  {{#if link}}
  <a class="btn btn-primary btn-sm {{class}}" href="{{link}}"
    {{#remote}}target="remote"{{else}}target="_blank" rel="noopener"{{/remote}}>
    <svg class="icon"><use xlink:href="#icon-{{icon}}"></use></svg>
    {{text}}
  </a>
  {{else}}
  <button class="btn btn-primary btn-sm {{class}}">
    <svg class="icon"><use xlink:href="#icon-{{icon}}"></use></svg>
    {{text}}
  </button>
  {{/if}}
{{/each}}
