<div class="card" data-note-id="{{id}}">
  <div class="card-header note-badges p-2">
    <div class="columns col-gapless">
      <div class="column flex-center-items">
        {{{badges.user}}}
        {{{badges.age}}}
        {{{badges.comments}}}
        {{{badges.country}}}
      </div>
      <div class="column col-auto btn-group">
        {{{badges.report}}}
        {{#if watchlist}}
          {{{badges.unwatch}}}
        {{else}}
          {{{badges.watch}}}
        {{/if}}
        {{{badges.hide}}}
      </div>
    </div>
  </div>

  <div class="card-body text-break">
    {{{comments.0.html}}}
  </div>

  <div class="card-footer note-actions">
    {{> actions actions}}
  </div>
</div>
